<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/style.css" type="text/css">
    <title>Edit Page</title>
</head>
<body>
    <div>
        <form class="newPost" action="/editPost/<%= post._id %>" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%=post.name%>" >

            <label for="message">Message:</label>
            <textarea name="message" id="message" ><%=post.message%></textarea>

            <button>Submit</button>
            <h3 class="error">
                <%= err%>
            </h3>
        </form>
    </div>
</body>
</html>